* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

form {
  max-width: 400px;
  margin: 0 auto;
}


/** footer ****/
footer {
  margin-top: auto;
}

.site-footer {
  padding: 16px;
  background: #2c5e8b;
  color: #fff;
  padding-bottom: 20px;
}

.site-footer h6 {
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 5px;
}

.site-footer h6.community {
  font-weight: normal !important;
}

.site-footer a {
  color: #fff;
  text-decoration: none;
  font-size: 0.9rem;
  line-height: 22px;
}

.site-footer a:hover {
  color: #fff;
  text-decoration: underline;
}

.site-footer .copy {
  font-size: 0.75rem;
  text-align: center;
  margin: 20px 0 0;
}

.site-footer .copy.left {
  text-align: left;
}

.site-footer .fda {
  padding: 15px;
  font-size: 0.7rem;
  font-weight: 700;
  margin-top: 40px;
  text-align: center;
  color: #444;
  background: #fff;
}

.site-footer .socials {
  color: #fff;
}

.site-footer .socials a {
  float: left;
  margin-right: 30px;
  font-size: 2rem;
}

.site-footer .socials a:last-of-type {
  margin-right: 0px;
}

.site-footer hr {
  border: none;
  border-bottom: 1px solid #50616d;
  margin: 10px 0;
  width: 90%;
}

.site-footer .footer-top {
  border-bottom: 1px solid #fff;
  padding: 5px 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.site-footer .footer-top .button.outlined {
  display: block;
  color: #fff;
  border: 1px solid #fff;
  background: transparent;
  padding: 14px 60px;
}

.site-footer .footer-top .join-mailing-list {
  text-align: right;
}

.footer-subscribe select {
  color: #444;
  border-radius: 4px;
  margin-bottom: 2px;
}

.footer-subscribe input[type="email"] {
  border-radius: 4px 0 0 4px;
  color: #444;
}

.footer-subscribe button {
  border-radius: 0 4px 4px 0;
  background: #85919c !important;
}

.footer-subscribe button:hover {
  background: #85919c;
}

.site-footer .footer-subscribe {
  margin: 0px;
}

.site-footer .footer-subscribe select {
  width: 100% !important;
  margin-right: 0px;
}

.footer-links-block,
.footer-links-block .footer-links-flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  width: 100%;
  margin: 5px 0;
}

.footer-links-block .footer-links-flexbox div {
  width: 25%;
}

.footer-links-block .bcorp-note {
  width: 42%;
  padding-left: 60px;
}

@media (max-width: 768px) {
  .footer-links-block {
    flex-direction: column;
  }
  
  .site-footer .footer-top,
  .footer-links-block .footer-links-flexbox {
    flex-direction: column;
    align-items: flex-start;
  }

  .site-footer .footer-top .join-mailing-list {
    margin-top: 30px;
    padding-bottom: 10px;
    width: 100%;
  }

  .site-footer .footer-top .button.outlined {
    padding: 14px 20px;
    text-align: center;
    width: 100%;
  }

  .footer-links-block .footer-links-flexbox div {
    width: 100%;
  }

  .site-footer .footer-top {
    margin-bottom: 20px;
  }

  .footer-links-block .footer-links-flexbox div {
    margin-bottom: 30px;
  }

  .footer-links-block .footer-links-flexbox div h6 {
    font-size: 16px;
  }

  .footer-links-block .footer-links-flexbox div a {
    font-size: 14px;
    line-height: 28px;
  }

  .footer-links-block .bcorp-note {
    width: 100%;
    padding: 0px;
  }

  .site-footer .fda {
    font-size: 11px;
    line-height: 15px;
    margin-top: 20px;
  }
}

@media (min-width: 769px) and (max-width: 990px) {
  .footer-links-block .bcorp-note {
    width: 100%;
    margin-top: 30px;
    padding: 0px;
  }
}

@media (min-width: 991px) and (max-width: 1170px) {
  .site-footer .socials a {
    margin-right: 15px;
  }
}
