* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

form {
  max-width: 400px;
  margin: 0 auto;
}

#your-privacy-choices-banner {
  width: 70%;
  max-width: 1200px;
  min-height: 135px;
  padding: 16px;
  display: flex;
  position: absolute;
  left: 32px;
  bottom: 32px;
  background-color: #f0f4f7;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  transition: visibility 0s 400ms, opacity 400ms linear;
  opacity: 0;
  visibility: hidden;
}

#your-privacy-choices-banner.visible {
  opacity: 1;
  visibility: visible;
}

#your-privacy-choices-banner .left {
  width: calc((100% / 3) * 1.95);
}

#your-privacy-choices-banner .left h2 {
  margin-bottom: 10px;
  font-size: 16px;
}

#your-privacy-choices-banner .left p {
  font-size: 13px;
  line-height: 1.5;
}

#your-privacy-choices-banner .left p:first-of-type {
  margin-bottom: 8px;
}

#your-privacy-choices-banner .left a {
  color: #2c5e8b;
  font-weight: bold;
}

#your-privacy-choices-banner .right {
  width: calc((100% / 3) * 1.05);
  padding: 16px 16px 16px 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#your-privacy-choices-banner .right > label {
  margin-bottom: 13px;
  font-size: 13px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

#your-privacy-choices-banner .right > label:last-of-type {
  margin-bottom: 16px;
}

#your-privacy-choices-banner .right input[type="checkbox"] {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  accent-color: #2c5e8b;
}

#your-privacy-choices-banner .right > button {
  width: 50%;
  padding: 12px 10px;
  border: none;
  background-color: #2c5e8b;
  border-color: #2c5e8b;
  color: #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

#your-privacy-choices-banner .right button:hover {
  opacity: 0.7;
}

#your-privacy-choices-banner #close-button {
  cursor: pointer;
}

#confirm-button {
  display: none;
  margin-top: 10px;
  background-color: #2c5e8b;
  border-color: #2c5e8b;
  color: white;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  min-width: 135px;
  padding: 12px 10px;
  letter-spacing: .05em;
  line-height: 1.4;
  font-size: 11.38px;
  font-weight: 600;
  height: auto;
}

/** footer ****/
footer {
  margin-top: auto;
}

.site-footer {
  padding: 16px;
  background: #2c5e8b;
  color: #fff;
  padding-bottom: 20px;
}

.site-footer h6 {
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 5px;
}

.site-footer h6.community {
  font-weight: normal !important;
}

.site-footer a {
  color: #fff;
  text-decoration: none;
  font-size: 0.9rem;
  line-height: 22px;
}

.site-footer a:hover {
  color: #fff;
  text-decoration: underline;
}

.site-footer .copy {
  font-size: 0.75rem;
  text-align: center;
  margin: 20px 0 0;
}

.site-footer .copy.left {
  text-align: left;
}

.site-footer .fda {
  padding: 15px;
  font-size: 0.7rem;
  font-weight: 700;
  margin-top: 40px;
  text-align: center;
  color: #444;
  background: #fff;
}

.site-footer .socials {
  color: #fff;
}

.site-footer .socials a {
  float: left;
  margin-right: 30px;
  font-size: 2rem;
}

.site-footer .socials a:last-of-type {
  margin-right: 0px;
}

.site-footer hr {
  border: none;
  border-bottom: 1px solid #50616d;
  margin: 10px 0;
  width: 90%;
}

.site-footer .footer-top {
  border-bottom: 1px solid #fff;
  padding: 5px 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.site-footer .footer-top .button.outlined {
  color: #fff;
  border: 1px solid #fff;
  background: transparent;
  padding: 14px 60px;
}

.site-footer .footer-top .join-mailing-list {
  text-align: right;
}

.footer-subscribe select {
  color: #444;
  border-radius: 4px;
  margin-bottom: 2px;
}

.footer-subscribe input[type="email"] {
  border-radius: 4px 0 0 4px;
  color: #444;
}

.footer-subscribe button {
  border-radius: 0 4px 4px 0;
  background: #85919c !important;
}

.footer-subscribe button:hover {
  background: #85919c;
}

.site-footer .footer-subscribe {
  margin: 0px;
}

.site-footer .footer-subscribe select {
  width: 100% !important;
  margin-right: 0px;
}

.footer-links-block,
.footer-links-block .footer-links-flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  width: 100%;
  margin: 5px 0;
}

.footer-links-block .footer-links-flexbox div {
  width: 25%;
}

.footer-links-block .bcorp-note {
  width: 42%;
  padding-left: 60px;
}

@media (max-width: 768px) {
  .site-footer .footer-top,
  .footer-links-block .footer-links-flexbox {
    flex-direction: column;
    align-items: flex-start;
  }

  .site-footer .footer-top .join-mailing-list {
    margin-top: 30px;
    padding-bottom: 10px;
    width: 100%;
  }

  .site-footer .footer-top .button.outlined {
    padding: 14px 20px;
    text-align: center;
    width: 100%;
  }

  .footer-links-block .footer-links-flexbox div {
    width: 100%;
  }

  .site-footer .footer-top {
    margin-bottom: 20px;
  }

  .footer-links-block .footer-links-flexbox div {
    margin-bottom: 30px;
  }

  .footer-links-block .footer-links-flexbox div h6 {
    font-size: 16px;
  }

  .footer-links-block .footer-links-flexbox div a {
    font-size: 14px;
    line-height: 28px;
  }

  .footer-links-block .bcorp-note {
    width: 100%;
    padding: 0px;
  }

  .site-footer .fda {
    font-size: 11px;
    line-height: 15px;
    margin-top: 20px;
  }
}

@media (min-width: 769px) and (max-width: 990px) {
  .footer-links-block .bcorp-note {
    width: 100%;
    margin-top: 30px;
    padding: 0px;
  }
}

@media (min-width: 991px) and (max-width: 1170px) {
  .site-footer .socials a {
    margin-right: 15px;
  }
}
